---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import PostItem from "@components/PostItem.astro";
import { format } from "date-fns";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");
  const sortedPosts = allPosts.sort((a, b) => {
    return new Date(b.data.pubDate) - new Date(a.data.pubDate);
  });

  // const postsByYear = sortedPosts.reduce((acc, post) => {
  //   const year = new Date(post.data.pubDate).getFullYear();
  //   if (!acc[year]) {
  //     acc[year] = [];
  //   }
  //   acc[year].push(post);
  //   return acc;
  // }, {});

  return paginate(sortedPosts, { pageSize: 1000});
}

const { page } = Astro.props;
const content = {
  title: "blog",
  description: "Blog",
  thumbnail: "",
  language: "en",
};
---

<PageLayout frontmatter={content}>
  <h1 class="font-bold">Blog</h1>

  <ol class="list-none px-6 md:p-0">
    {
      page.data.map((post, index) => (
        <li>
          {post.data.pubDate && (
            <time
              class="font-mono text-xs text-slate-600"
              datetime={post.data.pubDate.toString()}
            >
              {format(new Date(post.data.pubDate), "dd.MM.yyyy")}
            </time>
          )}
          <a href={'/blog/' + post.slug}>{post.data.title}</a>
        </li>
      ))
    }
  </ol>
</PageLayout>
