---
import '@fontsource/sarabun/400.css';
import '@fontsource/sarabun/700.css';
import '@fontsource/frank-ruhl-libre/400.css';
import '@fontsource/frank-ruhl-libre/700.css';

import { Picture } from '@astrojs/image/components';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import BaseHead from '@components/BaseHead.astro';
import GlobalStyle from '@components/GlobalStyle.astro';

const title = 'Armno P.';
const language = 'en';
const thumbnail = '/images/anb.jpg';
const description = 'I am a frontend developer at buzzwoo, focusing on building user interfaces with HTML, CSS, and JavaScript';
---

<html lang={language ? language : 'th'}>
	<head>
		<BaseHead title={title} description={description} thumbnail={thumbnail} />
    <GlobalStyle />
	</head>
	<body class="antialiased">
		<Header />
		<main class="lg:grid lg:grid-cols-3 lg:gap-8 lg:mx-auto max-w-5xl">
      <div class="mt-12 lg:pt-16">
        <Picture src="/images/ana.jpg" alt="Armno Prommarak's photo" class="m-auto"
          widths={[300,600]} aspectRatio={1}
          width={300} height={300} />
      </div>

      <div class="px-6 mt-12 lg:pt-12 lg:col-span-2 mx-auto prose prose-slate leading-relaxed">
        <div class="font-semibold tracking-wider text-sm">Hi there,</div>
        <h1 class="text-2xl lg:text-3xl font-normal">My name is <strong class="font-semibold">Armno Prommarak</strong>.<br>
          I&rsquo;m a frontend developer at <a href="https://buzzwoo.de" target="_blank">buzzwoo</a>.</h1>

        <p class="mt-20 lg:mt-12">
          <strong>I build user interfaces to deliver good user experiences on the web.</strong><br>
          </p>
        <p>
          I&rsquo;m currently a frontend teamlead at buzzwoo. My main focus is supporting my colleagues to get better on JavaScript frameworks and frontend performance.
        <p>
          Besides work, I'm a big nerd. I enjoy reading books, taking photos, <a href="https://armno.in.th/2017/08/20/building-custom-mechanical-keyboard/">building mechanical keyboards</a> and cycling with my <a href="https://www.strava.com/athletes/3637623">road bike</a>.</p>

          Check out my <a href="/blog">blog</a> to see what I&rsquo;ve learned recently.
          I also write about life in my <a href="https://armno.cc/">personal</a> <a href="https://armno.wordpress.com">blogs</a>.
        </p>

        <h3>Get in touch</h3>
        <p>
          You can find me on <a href="https://github.com/armno">GitHub</a>. Otherwise, you can also contact me via email at <a href="mailto:monkeyarmno@gmail.com">monkeyarmno at gmail.com</a>*.
        </p>
        <p>
          Nice to meet you!
          <br>
          &ndash; Armno
        </p>

        <p class="mt-12 leading-4 text-slate-500">
          <small>*I might or might not reply to your email. Emails from recruiters or online marketers are usually ignored.</small>
        </p>

      </div>
    </main>

    <Footer />
  </body>
</html>
