<div class="mt-12">
<script src="https://giscus.app/client.js"
        data-repo="armno/armno.in.th"
        data-repo-id="R_kgDOG83p9g"
        data-category="Blog Post Comments"
        data-category-id="DIC_kwDOG83p9s4Cd4yW"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</div>
