---
const { pathname } = Astro.url;
---

<footer class="pt-20 pb-20 text-xs mx-auto text-center dark:text-slate-200">
  <hr class="mx-auto max-w-xs mb-12 border-0 h-1 bg-slate-700 dark:bg-slate-100">
  <div class="leading-relaxed">
    <p>&copy; 2007&hyphen;now Armno Prommarak.<br>All Rights Reserved.</p>
    <p class="mt-4">Made in <a
      href="https://www.openstreetmap.org/search?query=chiang%20mai#map=16/18.7880/98.9859"
      target="_blank"
      rel="nofollow noreferrer" class="font-bold">Chiang Mai</a>, with <a href="https://astro.build" target="_blank" class="font-bold">Astro</a> 🚀.
      </p>
  </div>
</footer>
