---
export interface Props {
  next?: string;
  prev?: string;
}
const { next, prev } = Astro.props as Props;
---

<div class="text-sm flex justify-center mt-8 gap-x-4">
  {prev && <a href={prev}>« Newer</a> }
  {next && <a href={next}>Older »</a> }
</div>
