---
import { format } from 'date-fns';

export interface Props {
  date: string;
  align?: string;
}
const { date, align } = Astro.props as Props;
---

<div class={
  `text-sm text-slate-500 ${align === 'center' ? 'text-center mb-16': ''}`
}>
  <time datetime={date}>
    {format(new Date(date), 'PPP')}
  </time>
  by Armno P.
</div>
