---
import { format } from 'date-fns';

export interface Props {
  pubDate: Date;
  align?: string;
}
const { pubDate, align } = Astro.props as Props;
---

<div class={
  `text-slate-500 mb-6 ${align === 'center' ? 'text-center mb-16': ''}`
}>
  <time datetime={pubDate.toString()}>
    {format(new Date(pubDate), 'PPP')}
  </time>
  by Armno P.
</div>
