---
import { Frontmatter } from '@shared/frontmatter.interface';
const allPosts = await Astro.glob<Frontmatter>('../pages/blog/**/*.md');
const { tags, currentPathname } = Astro.props;
console.log({ tags, currentPathname });

const relatedPosts = allPosts.filter(({ url }) => !currentPathname.includes(url))
  .filter(a => new Date(a.frontmatter.date) <= new Date())
  .sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())
  .map(post => {
    console.log(post.url);
    console.log(post.frontmatter.tags);
    return post;
  })
  .slice(0, 3);
---

<h4>Related posts</h4>
<ul>
  {relatedPosts.map(post => (
    <li>
      <a href={post.url}>{post.frontmatter.title}</a>
    </li>
  ))}
</ul>

