<div id="search"></div>
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    new PagefindUI({
      element: "#search",
      showSubResults: false,
      showImages: false,
      translations: {
        placeholder: 'Search (⌘ K)',
      }
    });
  });

  document.addEventListener("keydown", (event) => {
    if ((event.metaKey || event.ctrlKey) && event.key === "k") {
      const input = document.querySelector<HTMLInputElement>('#search input[type="text"]');
      if (input) {
        input.focus();
      }
    }
  });
</script>
