<style is:global>
  .icon-moon,
  .dark .icon-sun {
    display: block;
  }

  .icon-sun,
  .dark .icon-moon
  {
    display: none;
  }
</style>
<button id="theme-toggler"
  title="Toggle light and dark mode"
  class="text-gray-900 hover:text-gray-600 transition-colors dark:text-slate-200 dark:hover:text-slate-500
 ml-6 lg:ml-12">
  <svg class="icon-moon lg:w-6 lg:h-6" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-moon" ><path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg>
  <svg class="icon-sun lg:w-6 lg:h-6" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="4"/><path d="M12 3v1"/><path d="M12 20v1"/><path d="M3 12h1"/><path d="M20 12h1"/><path d="m18.364 5.636-.707.707"/><path d="m6.343 17.657-.707.707"/><path d="m5.636 5.636.707.707"/><path d="m17.657 17.657.707.707"/></svg>
</button>

<script is:inline>
  const themeToggler = document.getElementById("theme-toggler");

  const setTheme = (theme) => {
    const isLightTheme = theme === 'light';
    document.documentElement.classList.toggle("dark", !isLightTheme);
    localStorage.setItem('theme', theme);
  };

  // Function to handle theme toggle click
  const handleToggleClick = () => {
    const isDark = document.documentElement.classList.contains('dark');
    setTheme(isDark ? 'light' : 'dark');
  };

  themeToggler.addEventListener("click", handleToggleClick);

  window.matchMedia('(prefers-color-scheme: dark)')
    .addEventListener('change', ({ matches: isDark }) => {
      const theme = isDark ? 'dark' : 'light'
      setTheme(theme);
    });
</script>
