---
import Header from '@components/Header.astro';
import BaseHead from '@components/BaseHead.astro';
import '../styles/global.css';

const { content } = Astro.props;
const { title } = content;
---
<html lang="en">
	<head>
		<BaseHead {title} />
	</head>
	<body class="antialiased">
		<Header />
		<main class="px-6 mt-20 mx-auto pb-24 prose prose-slate prose-xl text-base">
      <slot />
    </main>
	</body>
</html>