---
import Header from '@components/Header.astro';
import BaseHead from '@components/BaseHead.astro';

const { content } = Astro.props;
const { title } = content;
---
<html lang="en">
	<head>
		<BaseHead {title} />
	</head>
	<body class="antialiased">
		<Header />
		<article class="px-6 lg:w-2/3 lg:px-0 mt-20 mx-auto pb-10 prose prose-slate lg:prose-xl lg:leading-[1.4]">
      <h1>{title}</h1>
      <slot />
    </article>
	</body>
</html>
